{% extends 'inc/blocks/widget.html' %}

{% block css_class %}widget-{{ css_class }} widget-padding-sm{% endblock %}

{% block control %}
            <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
{% endblock %}

{% block content %}
    <div class="widget-big-int plugin-clock">00:00</div>
    <div class="widget-subtitle plugin-date">Loading...</div>
{% endblock %}

{% block extras %}
    <div class="widget-buttons widget-c3">
{% for btn in buttons %}
        <div class="col">
            <a href="{{ btn.link }}"><span class="fa fa-{{ btn.icon }}"></span></a>
        </div>
{% endfor %}
    </div>                            
{% endblock %}

