{% extends 'inc/blocks/widget.html' %}

{% block css_class %}widget-default widget-carousel{% endblock %}

{% block content %}
        <div class="owl-carousel" id="owl-example">
            <div>                                    
                <div class="widget-title">Total Visitors</div>                                                                        
                <div class="widget-subtitle">27/08/2014 15:23</div>
                <div class="widget-int">3,548</div>
            </div>
            <div>                                    
                <div class="widget-title">Returned</div>
                <div class="widget-subtitle">Visitors</div>
                <div class="widget-int">1,695</div>
            </div>
            <div>                                    
                <div class="widget-title">New</div>
                <div class="widget-subtitle">Visitors</div>
                <div class="widget-int">1,977</div>
            </div>
        </div>                            
{% endblock %}

{% block control %}
            <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
{% endblock %}

