{% extends 'inc/blocks/widget.html' %}

{% block css_class %}widget-{{ css_class }} widget-item-icon{% endblock %}

{% block attributes %} onclick="location.href='pages-messages.html';"{% endblock %}

{% block control %}
            <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
{% endblock %}

{% block content %}
    <div class="widget-item-left">
        <span class="fa fa-{{ icon|fa_icon }}"></span>
    </div>                             
    <div class="widget-data">
        <div class="widget-int num-count">48</div>
        <div class="widget-title"></div>
        <div class="widget-subtitle"></div>
    </div>      
{% endblock %}

