{% extends 'layouts/dashboard.html' %}

{% block page_title %}Linked Graph Explorer{% endblock %}
{% block content_title %}
    <h2>
        <span class="fa fa-connectdevelop"></span>
        Explore the Linked Graph
    </h2>
{% endblock %}

{% block breadcrumbs %}
                    <li><a href="/linked/">Linked Portal</a></li>
                    <li class="active">Graph Explorer</li>
{% endblock %}

