{% extends 'layouts/dashboard.html' %}

{% block page_title %}Linked Search Engine{% endblock %}
{% block content_title %}
    <h2>
        <span class="fa fa-connectdevelop"></span>
        Search the Linked Realm
    </h2>
{% endblock %}

{% block breadcrumbs %}
                    <li><a href="/linked/">Linked Portal</a></li>
                    <li class="active">Search Engine</li>
{% endblock %}

