{% extends 'base.html' %}

{% block plugins %}
<script type='text/javascript' src='/static/js/plugins/icheck/icheck.min.js'></script>        
<script type="text/javascript" src="/static/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/scrolltotop/scrolltopcontrol.js"></script>

<script type="text/javascript" src="/static/js/plugins/morris/raphael-min.js"></script>
<script type="text/javascript" src="/static/js/plugins/morris/morris.min.js"></script>       
<script type="text/javascript" src="/static/js/plugins/rickshaw/d3.v3.js"></script>
<script type="text/javascript" src="/static/js/plugins/rickshaw/rickshaw.min.js"></script>
<script type='text/javascript' src='/static/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'></script>
<script type='text/javascript' src='/static/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'></script>                
<script type='text/javascript' src='/static/js/plugins/bootstrap/bootstrap-datepicker.js'></script>                
<script type="text/javascript" src="/static/js/plugins/owl/owl.carousel.min.js"></script>                 

<script type="text/javascript" src="/static/js/plugins/moment.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/daterangepicker/daterangepicker.js"></script>
{% endblock %}

{% block modules %}
<script type="text/javascript" src="/static/js/demo_dashboard.js"></script>
{% endblock %}

{% block content_wrap %}
    <div class="row">
{% autoescape off %}
{% for col,lst in widgets %}
        <div class="col-{{ col }}">
{% for wdg in lst %}
{{ wdg.render() }}
{% endfor %}
        </div>
{% endfor %}
{% endautoescape %}
    </div>

    <!-- START DASHBOARD CHART -->
    <div class="chart-holder" id="dashboard-area-1" style="height: 200px;"></div>
    <div class="block-full-width"></div>                    
    <!-- END DASHBOARD CHART -->
{% endblock %}

{% block application %}
{% endblock %}

