{% extends 'base.html' %}

{% block plugins %}
        <script type='text/javascript' src='/static/js/plugins/icheck/icheck.min.js'></script>
        <script type="text/javascript" src="/static/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>  
{% endblock %}

{% block modules %}
        <script type="text/javascript" src="/static/js/portlet.js"></script>
{% endblock %}

{% block application %}
        <script type="text/javascript">
function portlet_get_data(portlet_id){    
    if(typeof(Storage)!=="undefined"){        
        if(typeof(sessionStorage[portlet_id]) !== "undefined"){            
            return $.parseJSON(sessionStorage[portlet_id]);
        }else{
            return null;
        }
    }
}

function portlet_save_data(portlet_id, portlet_data){
    if(typeof(Storage)!=="undefined"){        
        sessionStorage[portlet_id] = portlet_data;
    }else{
        return false;
    }
}

function portlet_delete_data(portlet_id){
    if(typeof(Storage)!=="undefined"){
        if(sessionStorage[portlet_id] != '') sessionStorage.removeItem(portlet_id);
    }
}
        </script>
{% endblock %}

