<!-- START PROJECTS BLOCK -->
<div class="panel {% block css_panel %}panel-default{% endblock %}">
    <div class="panel-heading">
        <div class="panel-title-box">
{% block title %}
            <h3>Projects</h3>
            <span>Projects activity</span>
{% endblock %}
        </div>                                    
        <ul class="panel-controls" style="margin-top: 2px;">
{% block control %}
            <li><a href="#" class="panel-fullscreen"><span class="fa fa-close"></span></a></li>
{% endblock %}
        </ul>
    </div>
    <div class="panel-body {% block css_content %}panel-body-table{% endblock %}">
{% block content %}{% endblock %}
    </div>
</div>

