    <div class="widget {% block css_class %}{% endblock %}"{% block attributes %}{% endblock %}>
{% block content %}{% endblock %}
        <div class="widget-controls">                                
{% block control %}
            <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
{% endblock %}
        </div>                             
{% block extras %}{% endblock %}
    </div>         

