<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title-box">
            <h3>Sales</h3>
            <span>Sales activity by period you selected</span>
        </div>                                     
        <ul class="panel-controls panel-controls-title">                                        
            <li>
                <div id="reportrange" class="dtrange">                                            
                    <span></span><b class="caret"></b>
                </div>                                     
            </li>                                
            <li><a href="#" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a></li>
        </ul>                                    
        
    </div>
    <div class="panel-body">                                    
        <div class="row stacked">
            <div class="col-md-4">                                            
                <div class="progress-list">                                               
                    <div class="pull-left"><strong>In Queue</strong></div>
                    <div class="pull-right">75%</div>                                                
                    <div class="progress progress-small progress-striped active">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">75%</div>
                    </div>
                </div>
                <div class="progress-list">                                               
                    <div class="pull-left"><strong>Shipped Products</strong></div>
                    <div class="pull-right">450/500</div>                                                
                    <div class="progress progress-small progress-striped active">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">90%</div>
                    </div>
                </div>
                <div class="progress-list">                                               
                    <div class="pull-left"><strong class="text-danger">Returned Products</strong></div>
                    <div class="pull-right">25/500</div>                                                
                    <div class="progress progress-small progress-striped active">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">5%</div>
                    </div>
                </div>
                <div class="progress-list">                                               
                    <div class="pull-left"><strong class="text-warning">Progress Today</strong></div>
                    <div class="pull-right">75/150</div>                                                
                    <div class="progress progress-small progress-striped active">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                    </div>
                </div>
                <p><span class="fa fa-warning"></span> Data update in end of each hour. You can update it manual by pressign update button</p>
            </div>
            <div class="col-md-8">
                <div id="dashboard-map-seles" style="width: 100%; height: 200px"></div>
            </div>
        </div>                                    
    </div>
</div>

