<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title-box">
            <h3>Visitors</h3>
            <span>Visitors (last month)</span>
        </div>
        <ul class="panel-controls" style="margin-top: 2px;">
            <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>                                        
                <ul class="dropdown-menu">
                    <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                </ul>                                        
            </li>                                        
        </ul>
    </div>
    <div class="panel-body padding-0">
        <div class="chart-holder" id="dashboard-donut-1" style="height: 200px;"></div>
    </div>
</div>

