<!DOCTYPE html>
<html lang="en">
    <head>        
        <title>[Neuro::Psy] {% block page_title %}Responsive Bootstrap Admin Template{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" id="theme" href="/static/css/theme-default.css"/>
    </head>
    <body>
        <div class="page-container">
            <div class="page-sidebar">
{% include 'inc/sidebar.html' %}
            </div>
            <div class="page-content sortableContent" id="grid_content_1">
{% include 'inc/navbar.html' %}
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
{% block breadcrumbs %}
                    <li class="active">Example</li>
{% endblock %}
                </ul>
                <div class="page-title">                    
{% block content_title %}
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Portlet</h2>
{% endblock %}
                </div>
                <div class="page-content-wrap">
<!--
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-info push-down-20">
                                <span style="color: #FFF500;">ATENTION!</span> Position of blocks is saving into cookies. After page reload you can see all changes.
                                <button type="button" class="close" data-dismiss="alert">×</button>
                            </div>
                        </div>
                    </div>
//-->
{% block content_wrap %}{% endblock %}
                    <div class="row"><div class="col-md-12">&nbsp;</div></div>
                </div>
            </div>    
        </div>
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>                    
                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="/pages/pages-login.html" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <audio id="audio-alert" src="/media/audio/alert.mp3" preload="auto"></audio>
        <audio id="audio-fail" src="/media/audio/fail.mp3" preload="auto"></audio>
        <script type="text/javascript" src="/static/js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/bootstrap/bootstrap.min.js"></script>        
{% block plugins %}{% endblock %}
        <script type="text/javascript" src="/static/js/settings.js"></script>
{% block modules %}
        <script type="text/javascript" src="/static/js/plugins.js"></script>        
        <script type="text/javascript" src="/static/js/actions.js"></script>
{% endblock %}
        <script type="text/javascript" src="/static/js/implant.js"></script>
{% block application %}{% endblock %}
    </body>
</html>

